@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  display: flex;
  padding: 12px 44px;
  border-width: 0;
  border-radius: 10px;

  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  cursor: pointer;
  transition: background-color $transition-time;

  &__black {
    font-weight: 400;
    border: 1px solid $color-white;
    background-color: $color-bg-black;
    
    &:hover {
      background-color: $color-violet;
    }

    &:active {
      background-color: $color-violet-active;
    }
  }

  &__violet {
    font-weight: 700;
    background-color: $color-violet;

    &:hover {
      background-color: $color-violet-hover;
    }
    
    &:active {
      background-color: $color-violet-active;
    }
  }
}