$color-bg-black: #121212;
$color-bg-section-black: #212121;
$color-bg-card-black-opasity: #18171db2;
$color-bg-dark-gray: #353535;
$color-bg-light-gray: #414141;
$color-bg-icon-gray: #4b4b4b;
$color-bg-radial-gradient: radial-gradient(
  68.63% 463.3% at 100% 100%,
  #504740 0%,
  #5c4359 16.36%,
  #382b3f 42.19%,
  #171717 100%
);
$color-bg-linear-gradient: linear-gradient(
  139.09deg,
  #362536 10.76%,
  #121212 43.45%
);

$color-white: #ffffff;
$color-dark-white: #d7d7d7;
$color-violet: #8b57c2;
$color-violet-hover: #ba79ff;
$color-violet-active: #7838bd;
$color-pink: #ef85ec;
$color-yellow: #fecb00;

// $screen-mobile: 360px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

$container-padding-mob: 20px;
$container-padding-tabl: 82px;
$container-content-width-tabl: 604px;
$container-content-width-desk: 1230px;
$container-width-tabl: $container-content-width-tabl + $container-padding-mob * 2;
$container-width-desk: $container-content-width-desk + $container-padding-tabl * 2;

$transition-time: 300ms;

$height-header: 42px;
