@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    @include onMobileAndTablet {
      display: none;
    }
  }

  &__button-sign-up {
    @include onMobile {
      display: none;
    }
  }

  &__button-menu {
    @include onDesktop {
      display: none;
    }
  }
}
