@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 40px;

  &__nav {
    @include onMobileAndTablet {
      display: none;
    }
  }

  &__button-sign-up {
    height: $height-header;

    @include onMobile {
      display: none;
    }
  }

  &__button-menu {
    margin-left: 49px; // 84(logo) - 36(sundwich)

    @include onDesktop {
      display: none;
    }
  }
}
