@import "../../styles/variables";
@import "../../styles/mixins";

.nav {
  display: flex;
  gap: 40px;

  font-size: 14px;
  line-height: $height-header-content;

  @include onMobileAndTablet {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    transition: color $transition-time;

    &:hover {
      color: $color-violet-hover;
    }
  }
}
